div.nav-container
  div.nav-left
    a.nav-link-left(href='#') Express Mongo Crud
  div.nav-right
    a.nav-link-right(href='/') Home
    a.nav-link-right(href='/posts/add') Add Post
    a.nav-link-right(href='/categories/add') Add Category