extends layout
block content
	.container
		h1=title
		form(method='post', action='/posts/add', enctype="multipart/form-data")
			.form-group
				label Title:
				input.form-control(name='title', type='text')
			.form-group
				label Title
				select.form-control(name='category')
					each category in categories
						option(value=category.name) #{category.name}
			.form-group
				label Comment Text
				textarea.form-control(name='commenttext', id='body')
			.form-group
				label Main Image:
				input.form-control(name='mainimage', type='file')
			.form-group
				label Author:
				select.form-control(name='author')
					option(value='Brad Traversy') Brad Traversy
					option(value='John Doe') John Doe
				input.btn.btn-default(name='submit',type='submit',value='Save')
		script(src='/ckeditor/ckeditor.js')
		script
			| CKEDITOR.replace('body')
			| CKEDITOR.lang['tr']
		footer Nodejs Blog &copy; 2021